<div>
	<ul class="brand-bar-style">
		<div class="row">

			<a [queryParams]="{query: 'Adidas'}" routerLink="/browse">
					<span>
						<picture>
							<img alt="Shop Adidas"
								 class="brand-button-style"
								 src="https://images.footlocker.com/content/dam/final/footlockercanada/site/homepage/september/210910-FLCA-HP-Brand-6up-adidas-6up.jpg">
						</picture>
					</span>
			</a>
		</div>

		<div class="row">

			<a [queryParams]="{query: 'Nike'}" routerLink="/browse">
					<span>
						<picture>
							<img alt="Shop Nike"
								 class="brand-button-style"
								 src="https://images.footlocker.com/content/dam/final/footlockercanada/site/homepage/september/210910-FLCA-HP-Brand-6up-nike-6up.jpg">
						</picture>
					</span>
			</a>
		</div>

		<div class="row">
			<a [queryParams]="{query: 'Jordan'}" routerLink="/browse">
					<span>
						<picture>
							<img alt="Shop Jordan"
								 class="brand-button-style"
								 src="https://images.footlocker.com/content/dam/final/footlockercanada/site/homepage/september/210910-FLCA-HP-Brand-6up-jordan-6up.jpg">
						</picture>
					</span>
			</a>
		</div>

		<div class="row">
			<a [queryParams]="{query: 'New Balance'}" routerLink="/browse">
				<span>
					<picture>
						<img alt="Shop New Balance" class="brand-button-style"
							 src="https://images.footlocker.com/content/dam/final/footlockercanada/site/homepage/september/210910-FLCA-HP-Brand-6up-new-balance-6up.jpg">
					</picture>
				</span>
			</a>
		</div>
		<div class="row">
			<a [queryParams]="{query: 'Ugg'}" routerLink="/browse">
				<span>
					<picture>
						<img alt="Shop Ugg" class="brand-button-style"
							 src="https://images.footlocker.com/content/dam/final/footlocker/site/homepage/2022/october/221024-fl-hp-brands-6-up-ugg.jpg">
					</picture>
				</span>
			</a>
		</div>
	</ul>
</div>
