.headerFont {
	margin-top: 4rem;
	height: 100px;
	font-size: 70px;
	font-weight: 900;
	background-image: linear-gradient(#000000, #090303);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.labelFont {
	padding: 10px;
	margin-top: 1rem;
	font-size: 30px;
	font-weight: 900;
	background-image: linear-gradient(#000000, #090303);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	display: flex;
	justify-content: flex-start;
}

.item-font {
	padding: 10px;
	margin-right: 1rem;
	margin-top: 5px;
	font-size: 15px;
	font-weight: 900;
	background-image: linear-gradient(#000000, #090303);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	display: flex;
	justify-content: flex-start;
}

.remove-button {
	margin-left: 1rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	outline: none;
	cursor: pointer;
	font-size: 10px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color, border-color, color, box-shadow, filter;
	transition-duration: .3s;
	border: 1px solid transparent;
	letter-spacing: 2px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 200;
	text-align: center;
	color: #fff;
	background-color: #fd356a;
	height: 20px;

	:hover {
		transform: scale(1.04);
		background-color: #21e065;
	}

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.form-container {
	display: flex;
	justify-content: center;
	height: 100vh; /* Set the height of the container to the full viewport height */
}

.items-in-cart-box {
	border-width: thick;
	border-color: black;
	border-radius: 100px;
}

.login-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	justify-items: center;
	width: 60%;
	height: 45%;
	background-color: rgba(200, 200, 200, 0.4);
	padding: 1rem;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border-radius: 25px;
}

.checkout-button {
	margin: 1rem;
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color, border-color, color, box-shadow, filter;
	transition-duration: .3s;
	border: 1px solid transparent;
	letter-spacing: 2px;
	max-width: 400rem;
	min-width: 25rem;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 17px 48px;
	color: #fff;
	background-color: #1ED760;
	height: 48px;

	:hover {
		transform: scale(1.04);
		background-color: #21e065;
	}

	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.button-container {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	/* Set the height of the container to the full viewport height */
}
