<div class="constrained">
	<div class="row row--md">
		<div class="aside col col-md-4 col-lg-5">
			<nav aria-label="Search Filters">
				<div>
					<h3 class="headerFont"> Refine Results</h3>
				</div>
				<div class="filter-menu" tabindex="-1">
					<ul class="ul-style filter-menu">
						<div class="ul-style filter-menu">
							<li class="filter-menu-item">
								<button (click)="toggleGenderList()" class="filter-title" id="gender1"> Gender
									<span>&nbsp;</span>
									<span class="Icon">
									<span class="Icon">&#43;</span>
								</span>
								</button>
							</li>
							<mat-radio-group *ngIf="showGenderOptions" class="filter-options">
								<mat-radio-button (click)="applyFilter('sizing', 'Mens')"> Mens</mat-radio-button>
								<mat-radio-button (click)="applyFilter('sizing', 'Womens')"> Womens</mat-radio-button>
								<mat-radio-button (click)="applyFilter('sizing', 'Kids')"> Kids</mat-radio-button>
								<mat-radio-button checked style="display: none"></mat-radio-button>
							</mat-radio-group>
						</div>
						<div class="ul-style filter-menu">
							<li class="filter-menu-item">
								<button (click)="toggleBrandList()" class="filter-title" id="Brand"> Brand
									<span>&nbsp;&nbsp;&nbsp;</span>
									<span class="Icon">
									<span class="Icon">&#43;</span>
								</span>
								</button>
							</li>
							<mat-radio-group *ngIf="showBrandOptions" class="filter-options">
								<mat-radio-button (click)="applyFilter('brand', 'Nike')">Nike</mat-radio-button>
								<mat-radio-button (click)="applyFilter('brand', 'Adidas')">Adidas</mat-radio-button>
								<mat-radio-button (click)="applyFilter('brand', 'Jordan')">Jordan</mat-radio-button>
								<mat-radio-button (click)="applyFilter('brand', 'New Balance')">New Balance</mat-radio-button>
								<mat-radio-button (click)="applyFilter('brand', 'Ugg')">Ugg</mat-radio-button>
								<mat-radio-button checked style="display: none"></mat-radio-button>
							</mat-radio-group>
						</div>
						<div class="ul-style filter-menu">
							<li class="filter-menu-item">
								<button (click)="toggleSizingList()" class="filter-title" id="Size1"> Size
									<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
									<span class="Icon">
									<span class="Icon">&#43;</span>
								</span>
								</button>
							</li>
							<mat-grid-list *ngIf="showSizingOptions" class="filter-options" cols="3">
								<mat-radio-button (click)="applyFilter('size', '6')">6.5</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '7')">7</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '7.5')">7.5</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '8')">8</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '8.8')">8.5</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '9')">9</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '9.5')">9.5</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '10')">10</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '10.5')">10.5</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '11')">11</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '11.5')">11.5</mat-radio-button>
								<mat-radio-button (click)="applyFilter('size', '12')">12</mat-radio-button>
								<mat-radio-button checked style="display: none"></mat-radio-button>
							</mat-grid-list>
						</div>
						<div class="ul-style filter-menu">
							<li class="filter-menu-item">
								<button (click)="toggleColorList()" class="filter-title" id="Color1"> Color
									<span> &nbsp;&nbsp;&nbsp; </span>
									<span class="Icon">
									<span class="Icon">&#43;</span>
								</span>
								</button>
							</li>
							<mat-radio-group *ngIf="showColorOptions" class="filter-options">
								<mat-radio-button (click)="applyFilter('color', 'White')">White</mat-radio-button>
								<mat-radio-button (click)="applyFilter('color', 'Black')">Black</mat-radio-button>
								<mat-radio-button (click)="applyFilter('color', 'Red')">Red</mat-radio-button>
								<mat-radio-button (click)="applyFilter('color', 'Blue')">Blue</mat-radio-button>
								<mat-radio-button (click)="applyFilter('color', 'Brown')">Brown</mat-radio-button>
								<mat-radio-button (click)="applyFilter('color', 'Grey')">Grey</mat-radio-button>
								<mat-radio-button (click)="applyFilter('color', 'Green')">Green</mat-radio-button>
								<mat-radio-button checked style="display: none"></mat-radio-button>
							</mat-radio-group>
						</div>
						<div class="ul-style filter-menu">
							<li class="filter-menu-item">
								<button (click)="togglePriceList()" class="filter-title" id="Price"> Price
									<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
									<span class="Icon">
									<span class="expand-sign Icon">&#43;</span>
								</span>
								</button>
							</li>
							<mat-radio-group *ngIf="showPriceOptions" class="filter-options">
								<mat-radio-button (click)="applyFilter('price', '0-49.99')">$0 - $49.99</mat-radio-button>
								<mat-radio-button (click)="applyFilter('price', '50-99.99')">$50 - $99.99</mat-radio-button>
								<mat-radio-button (click)="applyFilter('price', '100-149.99')">$100 - $149.99</mat-radio-button>
								<mat-radio-button (click)="applyFilter('price', '150-199.99')">$150 - $199.99</mat-radio-button>
								<mat-radio-button (click)="applyFilter('price', '200-249.99')">$200 - $249.99</mat-radio-button>
								<mat-radio-button (click)="applyFilter('price', '250-9999999')">$250+</mat-radio-button>
								<mat-radio-button checked style="display: none"></mat-radio-button>
							</mat-radio-group>
						</div>
						<ul class="create-shoe">
							<button (click)="applyFilter(null, '')" class="green-button-style">Reset Filtering</button>
						</ul>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>
