<div class="center-justification">
	<ul class="center-justification">
		<div class="row center-justification">
			<span class="image-spacing">
				<a [queryParams]="{query: 'All'}" routerLink="/browse">
					<picture>
						<img
							alt="Shop All Sneakers"
							class="image-border nike-image-fit brand-button-style"
							height="400px"
							src="https://cdn.wallpapersafari.com/24/37/li5JzY.jpg"
							width="100%">
					</picture>
				</a>
				<h2 class="under-image-text"> All the Kicks </h2>
				<span class="text-align">
					<a [queryParams]="{query: 'All'}" class="text-align" routerLink="/browse">Shop All Shoes</a>
				</span>
			</span>
		</div>
	</ul>
</div>
